{{ attach_library('daterangepicker/jquery') }}
{{ attach_library('daterangepicker/moment') }}
{{ attach_library('daterangepicker/jquery_ui') }}
{{ attach_library('daterangepicker/jquery_ui_daterange_picker') }}
{{ attach_library('daterangepicker/daterange_picker') }}
<div style="margin-bottom:1rem">
  <input class="daterangepicker">
</div>